body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}
.hide {
    display: none;
}
#login {
    width: 500px;
}
form label.error {
    color: rgb(161, 32, 32);
    font-size: smaller;
}